body {
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: larger;
    background-color: #f4f6f8;
    padding-top: 40px;
}

.stats {
    font-size: 25px;
    margin-bottom: 10px;
}

.outer {
    cursor: crosshair;
    width: 900px;
    height: 380px;
    border: 3px solid #333;
    margin: 30px auto;
    position: relative;
    background-color: #ffffff;
}

.inner {
    width: 70px;
    height: 70px;
    background-color: #3db6cb;
    position: absolute;
    border-radius: 6px;
    right: 20px;
    left: auto;
}

button {
    padding: 12px 25px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background-color: #42cac4;
    color: rgb(10, 9, 9);
}

.shooter {
    width: 20px;
    height: 120px;
    background-color: black;
    position: absolute;
    left: 20px;
    top: 130px;
}

.bullet {
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}