body{
    margin:0;
    overflow:hidden;
}

#scene{
    position:relative;
    width:100vw;
    height:100vh;
    background:#f2f2f2;
}

#fire{
    position:absolute;
    top:300px;
    left:500px;
    width:140px;
}

#sprinkler{
    position:absolute;
    width:30px;
    height:30px;
    background:rgb(130, 218, 255);
    border-radius:50%;
    pointer-events:none;
}
